<div class="container">
  <h1>Rate My Course</h1>

  <div class="login">
    <label>Username: </label>
    <input type="text" id="login">
  </div>
  <div class="login">
    <label>Password: </label>
    <input type="text" id="login">
  </div>

  <div class="buttonContainer">
    <a routerLink="/start-screen"><button type="button" class="button">Login</button></a>
  </div>

  <div class="textContainer">
    <p class="noAccount">Don't have an account?</p>
  </div>

  <div class="buttonContainer">
    <a routerLink="/register"><button type="button" class="button">Register</button></a>
  </div>

</div>
