<!-- Login Screen html file -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">

  <div class="image">
    <img src="assets/RateMyCourse.png">
  </div>

  <div class="login">
    <input type="text" class="loginTB" placeholder="Username" [(ngModel)]="username">
    <i class="material-icons">perm_identity</i>
  </div>

  <div class="login">
    <input [type]="visibility ? 'text' : 'password'" class="loginTB" placeholder="Password" [(ngModel)]="password">
    <i class="material-icons">lock</i>
    <div class="showpass">
      <input type="checkbox" (click)="showPassword()"><p class="little">Show Password</p>
    </div>
  </div>


  <div class="buttonContainer">
    <button type="button" class="button" (click)="login()">Login</button>
  </div>

  <div class="textContainer">
    <p class="noAccount">Don't have an account?</p>
  </div>

  <div class="buttonContainer">
    <button type="button" class="rbutton" (click)="goToRegister()">Register</button>
  </div>

</div>