.container {
  background: linear-gradient(to top, white 5%, purple 100%);
  min-height: 100vh;
  min-width: 100%;
}

img {
  height: 20%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4%;
}

h1 {
  color: pink;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.login {
  text-align: center;
  padding-left: 2vh;
}

#login {
  height: 50px;
  width: 30%;
  background-color: pink;
  color: purple;
  margin-bottom: 20px;
  font-size: 3vh;
  border-radius: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
  text-indent: 10px;
}

#loginsecond {
  height: 50px;
  width: 30%;
  background-color: pink;
  color: purple;
  margin-bottom: 2px;
  font-size: 3vh;
  border-radius: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
  text-indent: 10px;
}

#login:hover {
  height: 50px;
  background-color: pink;
  margin-bottom: 20px;
  font-size: 3vh;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
}
#loginsecond:hover {
  height: 50px;
  width: 30%;
  background-color: pink;
  color: purple;
  margin-bottom: 2px;
  font-size: 3vh;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
  text-indent: 10px;
}

.textContainer {
  margin-top: 40px;
}

.noAccount {
  text-align: center;
  color: purple;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  height: 8vh;
  width: 20vh;
  font-size: 4.5vh;
  background-color: pink;
  color: purple;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
}

.rbutton {
  height: 8vh;
  width: 20vh;
  font-size: 4.5vh;
  text-align: center;
  background-color: pink;
  color: purple;
  border-radius: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
}

.button:hover {
  height: 8vh;
  width: 20vh;
  font-size: 4.5vh;
  background-color: pink;
  color: purple;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
}

.rbutton:hover {
  height: 8vh;
  width: 20vh;
  font-size: 4.5vh;
  text-align: center;
  background-color: pink;
  color: purple;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
}

::placeholder {
  font-size: 3.4vh;
  color: purple;
  opacity: 0.5;
}

.material-icons {
  font-size: 26px;
  color: purple;
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  position: relative;
  left: -40px;
  top: 2px;
}

.showpass {
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.little {
  font-size: small;
  padding-left: 3px;
  color: purple;
}
