<!-- Start Screen html file -->

<div class="container">

  <span>
    <a routerLink="/start-screen">
      <div class="image">
        <img src="assets/RateMyCourse.png">
      </div>
    </a>
    <!-- log out icon -->
    <mat-icon (click)="popup()" class="material-icons">settings</mat-icon>
  </span>


  <div class="buttonContainer">
    <button type="button" class="button" (click)="goToRate()">Rate a Course</button>
  </div>

  <div class="buttonContainer">
    <button type="button" class="button" (click)="goToView()">View a Course Rating</button>
  </div>


</div>
