<div class="container">
  <a routerLink="/start-screen">
    <div class="image">
      <img src="assets/RateMyCourse.png">
    </div>
  </a>

  <span>
    <button mat-icon-button>
      <mat-icon (click)="popup()" class="material-icons">settings</mat-icon>
    </button>
  </span>

  <div class="buttonContainer">
    <a routerLink="/course-selection-screen-for-rating"><button type="button" class="button">Rate a Course</button></a>
  </div>

  <div class="buttonContainer">
    <a routerLink="/course-selection-screen-for-viewing"><button type="button" class="button">View a Course Rating</button></a>
  </div>


</div>
