<div class="container">
  <a routerLink="/start-screen">
    <div class="image">
      <img src="assets/RateMyCourse.png">
    </div>
  </a>


  <div class="dropcon">
    <mat-form-field appearance="fill" class="dropdownContainer">
      <mat-label class="placeholder">Department</mat-label>
      <mat-select class="color" [(ngModel)]="selectedDepartment" (selectionChange)="changeDepartment()">
        <mat-option>None of these</mat-option>
        <mat-option *ngFor="let dept of departments" [value]="dept">
          {{dept.title}}
          <mat-divider></mat-divider>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedDepartment" class="dropcon">
    <mat-form-field appearance="fill" class="dropdownContainer">
      <mat-label class="placeholder">Course</mat-label>
      <mat-select [(ngModel)]="selectedCourse" (selectionChange)="changeCourse()">
        <mat-option>None of these</mat-option>
        <mat-option *ngFor="let course of deptCourses" [value]="course">
          {{course.id}}: {{course.title}}
          <mat-divider></mat-divider>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedCourse && selectedDepartment" class="buttonContainer">
    <a routerLink="/course-profile-for-viewing"><button type="button" class="button">See Rating</button></a>
  </div>

</div>


