<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
  <h1>Rate My Course</h1>

  <div class="login">
    <input type="text" id="login" placeholder="Username">
    <i class="material-icons">perm_identity</i>
  </div>
  <div class="login">
    <input type="text" id="login" placeholder="Password">
    <i class="material-icons">lock</i>
  </div>

  <div class="buttonContainer">
    <a routerLink="/login-screen"><button type="button" class="button">Create Account</button></a>
  </div>


</div>
