</script src = "./register.component.ts">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
  <div class="image">
    <img src="assets/RateMyCourse.png">
  </div>

  <div class="login">
    <input type="text" id="loginU" placeholder="Username">
    <i class="material-icons">perm_identity</i>
  </div>
  <div class="login">
    <input type="text" id="loginP" placeholder="Password">
    <i class="material-icons">lock</i>
  </div>

  <div class="buttonContainer">
    <a routerLink="/login-screen"><button type="button" class="button" onclick="accountGen()">Create Account</button></a>
  </div>
</div>
