.container {
  background-color: purple;
  min-height: 100vh;
  min-width: 100vh;
}

h1 {
  color: pink;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.login {
  text-align: center;
  color: pink;
  font-size: 40px;
}

#login {
  height: 40px;
  background-color: pink;
  margin-bottom: 20px;
  font-size: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  font-size: 40px;
  background-color: pink;
  color: purple;
  padding-right: 20px;
  padding-left: 20px;
}
