<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
  <div class="image">
    <img src="assets/RateMyCourse.png">
  </div>
<!--
  <div class="login">
      <input type="text" id="login" placeholder="Username">
      <i class="material-icons">perm_identity</i>
  </div>

  <div class="loginpass">
    <span>
      <input [type]="visibility ? 'text' : 'password'" id="loginsecond" placeholder="Password">
      <i class="material-icons">lock</i>
    </span>
    <div class="showpass">
      <input type="checkbox" (click)="showPassword()"><p class="little">Show Password</p>
    </div>
  </div> -->

  <div class="login">
    <input type="text" id="login" placeholder="Username">
    <i class="material-icons">perm_identity</i>
  </div>
  <div class="login">
    <input type="text" [type]="visibility ? 'text' : 'password'" id="login" placeholder="Password">
    <i class="material-icons">lock</i>
    <div class="showpass">
      <input type="checkbox" (click)="showPassword()"><p class="little">Show Password</p>
    </div>
  </div>


  <div class="buttonContainer">
    <a routerLink="/login-screen"><button type="button" class="button">Create Account</button></a>
  </div>


</div>
