.container {
  background: linear-gradient(to top, white 5%, purple 100%);
  min-height: 100vh;
  min-width: 100%;
}

img {
  height: 20%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

h1 {
  color: pink;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.login {
  text-align: center;
}

.loginTB {
  height: 50px;
  width: 30%;
  margin-top: 2vh;
  margin-bottom: 20px;
  font-size: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
  text-indent: 10px;
}

.loginTB:hover {
  height: 50px;
  background-color: pink;
  margin-bottom: 20px;
  font-size: 30px;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  height: 8vh;
  font-size: 4.5vh;
  background-color: pink;
  color: purple;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
}

.button:hover {
  height: 8vh;
  font-size: 4.5vh;
  background-color: pink;
  color: purple;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
}

::placeholder {
  color: purple;
  opacity: 0.5;
}

.material-icons {
  font-size: 26px;
  color: purple;
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  position: relative;
  left: -40px;
  top: 2px;
}
