.title {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.button {
  height: 4vh;
  width: 10vh;
  font-size: 2vh;
}
