<!-- Question 4 html file -->

<div class="container">
  <a routerLink="/start-screen">
    <div class="image">
      <img src="assets/RateMyCourse.png">
    </div>
    <!-- back icon -->
    <a routerLink="/question-three-for-rating">
      <mat-icon class="material-icons">arrow_back</mat-icon>
    </a>
  </a>

  <!-- progress bar -->
  <div class="barContainer">
    <mat-progress-bar color="accent" mode="buffer" value="100"></mat-progress-bar>
  </div>

  <p class="header">Question 4: Choose your Letter Grade</p>

  <!-- Angular Material Dropdown-->
  <div class="dropcon">
    <mat-form-field appearance="fill" class="dropdownContainer">
      <mat-label class="placeholder">Letter Grade</mat-label>
      <mat-select class="color" [(ngModel)]="selectedGrade">
        <mat-option>None of these</mat-option>
        <mat-option *ngFor="let item of grades" [value]="item.numVal">
          {{item.viewLetter}}
          <mat-divider></mat-divider>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- only appears when letter grade is selected -->
  <div *ngIf="selectedGrade" class="buttonContainer">
    <button (click)="pushToFirestore()" type="button" class="button">Submit Rating</button>
  </div>

</div>