.container {
  background: linear-gradient(to top, white 5%, purple 100%);
  min-height: 100vh;
  min-width: 100%;
}

img {
  height: 20%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
}

.dropdown {
  color: white;
}

.placeholder {
  font-size: 16px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  height: 8vh;
  font-size: 40px;
  text-align: center;
  background-color: pink;
  color: purple;
  border-radius: 20px;
  background: linear-gradient(to bottom, white 5%, pink 100%);
}

.button:hover {
  height: 8vh;
  font-size: 40px;
  text-align: center;
  background-color: pink;
  color: purple;
  border-radius: 20px;
  background: linear-gradient(to top, white 5%, pink 100%);
}

.dropcon {
  font-size: 2.5vh;
  font: white;
}

:host ::ng-deep mat-label {
  font-weight: bold;
  color: white;
}
:host ::ng-deep mat-select {
  font-weight: bold;
  color: white;
}
:host ::ng-deep mat-option {
  font-weight: bold;
  color: white;
}
